# Node
node_modules
dist
.env

# Tauri
src-tauri/target/
src-tauri/gen/schemas/

# OS
.DS_Store
Thumbs.db

# Sidecar
sidecar/node_modules
sidecar/.wwebjs_auth/
sidecar/.wwebjs_cache/
sidecar/node.exe
*.log
data.db
data.db-shm
data.db-wal
