# Node
node_modules
dist
.env

# Tauri
src-tauri/target/
src-tauri/gen/schemas/
src-tauri/icons/icon.ico

# OS
.DS_Store
Thumbs.db

# Sidecar
sidecar/node_modules
sidecar/.wwebjs_auth/
sidecar/.wwebjs_cache/
