@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FEF7FF;
  /* Material 3 Surface */
  color: #1D1B20;
  /* Material 3 On Surface */
}

#app {
  width: 100%;
  height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}